.App {
  text-align: center;
}

#fileDisplayArea {
  margin-top: 2em;
  width: 100%;
  overflow-x: auto;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.upload-image {
  width: 300px;
}

p {
  margin-top: -5px;
  margin-bottom: -1px;
}

.round {
  border-radius: 20px;
}